.cards {
  display: flex;
  justify-content: center;
  padding: 80px 60px;
}

.card {
  text-align: center;
  max-width: 300px;
  margin: 0px 30px 30px 30px;
}

.card h3 {
  font-size: 32px;
}

.card img {
  width: 130px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}
