footer {
  color: grey;
  background-color: #1B2129;
  height: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer li {
  display: inline-block;
  margin: 30px;
}

footer a {
  color: white;
  font-size: 30px;
  opacity: 0.8;
  transition: 0.2s ease;
}

footer a:hover {
  opacity: 1;
  transition: 0.2s ease;
}

footer p {
  margin-bottom: 30px;
}
